@use "presets" as *;
@use "mixins" as *;

html {
  font-size: 18px;
}
body {
  font-size: $font-size;
  font-family: $font-main;
  overflow-y: scroll;
  max-width: 100%;
}
a {
  color: $color-primary;
  &:hover,
  &:focus {
    color: $color-accent;
    text-decoration: none;
  }
}
